@model Colman_Final_Web_Project.Models.Categories

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Vvveb">
    <base href="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vvveb default theme</title>

    <!-- Bootstrap core CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <!-- link href="css/bootstrap.css" rel="stylesheet"-->
    <!-- link href="css/stylesheet.css" rel="stylesheet"-->
</head>

<body>
    <div class="page-container">


        <header class="container mt-5">

            <div class="row">
                <div class="logo-container">
                    <a href="/" class="logo">
                        <img src="@Url.Content("/images/colman-logo.png")" class="logo-image" style="width: 50px; height: 50px">
                    </a>
                    <small class="logo-text">Colman Shop Store Project</small>

                </div>
            </div>


        </header>


        <div class="content">

            <br>
            <div class="container">
                <div class="thickline"></div>
            </div>
            <br>



            <article class="product-details container" data-component-product>

                <div class="row">

                    <!-- gallery and tabs column -->

                    <div class="col-md-8">

                        <div class="zoom-gallery row">

                            <div class="col-md-10">
                                <a href="@Url.Content($"/images/categories/{@Model.Name}.png")">
                                    <img src="@Url.Content($"/images/categories/{@Model.Name}.png")" class="img-fluid"
                                         data-image>
                                </a>
                            </div>

                        </div>


                    </div>

                    <!-- product name and add to cart -->

                    <div class="col-md-4">
                        <h1 class="product-heading" data-name>@Model.Name category</h1>
                    </div>

                </div>
            </article><!-- product-details -->



        </div>

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>

    <script>
		$('#product-tabs a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		})

		$(document).ready(function () {
			$('.zoom-gallery').magnificPopup({
				delegate: 'a',
				type: 'image',
				closeOnContentClick: false,
				closeBtnInside: false,
				mainClass: 'mfp-with-zoom mfp-img-mobile',
				image: {
					verticalFit: true,
					titleSrc: function (item) {
						return item.el.attr('title') + ' &middot; <a class="image-source-link" href="' + item.el.attr('data-source') + '" target="_blank">image source</a>';
					}
				},
				gallery: {
					enabled: true
				},
				zoom: {
					enabled: true,
					duration: 300, // don't foget to change the duration also in CSS
					opener: function (element) {
						return element.find('img');
					}
				}

			});
		});

		$('.owl-carousel').owlCarousel({
			loop: true,
			navRewind: true,
			margin: 10,
			nav: true,
			dots: false,
			navText: ['<i class="la la-angle-left"></i>', '<i class="la la-angle-right"></i> '],
			responsive: {
				0: {
					items: 1
				},
				600: {
					items: 3
				},
				1000: {
					items: 5
				}
			}
		})
    </script>

    <style>
        .image-source-link {
            color: #98C3D1;
        }

        .mfp-with-zoom .mfp-container,
        .mfp-with-zoom.mfp-bg {
            opacity: 0;
            -webkit-backface-visibility: hidden;
            /* ideally, transition speed should match zoom duration */
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .mfp-with-zoom.mfp-ready .mfp-container {
            opacity: 1;
        }

        .mfp-with-zoom.mfp-ready.mfp-bg {
            opacity: 0.8;
        }

        .mfp-with-zoom.mfp-removing .mfp-container,
        .mfp-with-zoom.mfp-removing.mfp-bg {
            opacity: 0;
        }
    </style>
</body>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
